<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="viebel" data-size="large" data-hashtags="cljklipse">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username_rb %}
          <li>
            {% include icon-github.html username=site.github_username_rb %}
          </li>
          {% endif %}

          {% if site.email_rb %}
          <li>
            {% include icon-email.html email=site.email_rb %}
          </li>
          {% endif %}

          {% if site.twitter_username_rb %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_rb %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username_ys %}
          <li>
            {% include icon-github.html username=site.github_username_ys %}
          </li>
          {% endif %}

          {% if site.email_ys %}
          <li>
            {% include icon-email.html email=site.email_ys %}
          </li>
          {% endif %}

          {% if site.twitter_username_ys %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_ys %}
          </li>
          {% endif %}
        </ul>

      </div>
    </div>

  </div>

</footer>
