
<nav class="light-blue codemirror" role="navigation">
  <div class="container">
<div class="nav-wrapper">
      <a id="logo-container" href="/" class="brand-logo">{{ site.title }}</a>
      <span class="flags">
      <a id="logo-container" href="/cn.html" >
        <img src="/assets/images/cn-flag.jpg" class="flag"></img>
      </a>
      <a id="logo-container" href="/fr.html" >
        <img src="/assets/images/fr-flag.jpg" class="flag"></img>
      </a>
      </span>

    {% include github_button.html %}
  </div>
  </div>
</nav>
