<span class="share-page">

    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}&title={{ page.title }}" 
       rel="nofollow" 
       target="_blank" 
       title="Share on LinkedIn"
       class="share-linkedin">
       <span class="fa fa-linkedin-square"></span>
    </a>

    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ post.author }}&related={{ post.author }}" 
      rel="nofollow" 
      target="_blank" 
      title="Share on Twitter"
      class="share-twitter">
      <span class="fa fa-twitter-square"></span>
    </a>

    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" 
       rel="nofollow" 
       target="_blank" 
       title="Share on Google+"
       class="share-google">
       <span class="fa fa-google-plus-square"></span>
    </a>

</span>