---
# This is the Front Matter block
---

$codemirror-blue: #90B4FE;

* {
  margin: 0;
  padding: 0;
}

nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
}

section {
    display: table;
    width: 100%;

    .container-wide {
        padding: 5em 2em;
    }
}

.markdown-file {
    .author {
        color: $codemirror-blue;
        font-size: 0.9em;
        margin-top: -0.8em;
    }
    .about {
        h1, h2, h3, h4, h5, h6 {
           color: $codemirror-blue;
        }
    }
    .post {
        h1, h2, h3, h4, h5, h6 {
           color: $codemirror-blue;
           font-size: 2.7rem;
        }

        p {
            margin: 0 auto 1.575rem;
            font-family: 'Open Sans',sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            margin-bottom: 0.5em;
            line-height: 1.5;
            letter-spacing: .01rem;
        }
    }
}

.fixed {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .v100 {
        height: 100vh;
    }
    .v80 {
        height: 80vh;
    }

    .v70 {
        height: 70vh;
    }

    .v50 {
        height: 50vh;
    }
}

.container-header {
    @media screen and (max-width: 400px) {
        h1 {
            padding-top:5px;
            font-size:3em;
        }
    }

    @media screen and (max-width: 350px) {
        h1 {
            padding-top:5px;
            font-size:2em;
        }
    }


    a {
        color:#ffffff;
        text-decoration: underline;
        text-shadow: none;
    }

    .radius-border{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .opacity-background{
        background: rgba(0,200,168,.5);
    }

    .title-shadow {
        -webkit-text-shadow: 1px 2px 1px #000000;
        -moz-text-shadow: 1px 2px 1px #000000;
        text-shadow: 1px 2px 1px #000000;
    }

}

.post-title {
    font-size: 2.7rem;
    color: $codemirror-blue;
}

.post-date {
    font-size: 0.8em;
}
