<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import css files-->
      <link rel="stylesheet" href="/assets/css/main.css">
      <link rel="stylesheet" href="/assets/css/materialize.css">
      <link rel="stylesheet" href="/assets/css/styles.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="Content-Language" content="pt-br">
      <meta charset="utf-8"> 
    </head>
  <body>

    {% include header.html %}

        {{ content }}
    {% include google_analytics.html %}

      </body>

</html>
