---
layout: default
---

<div class="section">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <br>
        <section class="v100">
            <br/>
            <br/>
            <div class="post-header">
                <h2 class="center-align post-title" itemprop="name headline">{{ page.title }}</h2>
            </div>

            <div class="container">
                <div class="container markdown-file post-content" itemprop="articleBody">
                    <div class="post">
                        {{ content }}
                    </div>
                </div>
            </div>

        </section>
    </article>
</div>

    {% include klipse.html %}
